@import url('https://fonts.googleapis.com/css2?family=Courgette&family=IBM+Plex+Sans&display=swap');

:root {
  --fonts-base: 'IBM Plex Sans', sans-serif;
  --fonts-titles: 'Courgette', cursive;
}

* {
  border: none;
  font-family: var(--fonts-base);
  margin: 0;
  padding: 0;
}
