.a-pokemon-title {
  align-items: center;
  background-color: var(--color-white);
  border-radius: 1rem;
  display: flex;
  justify-content: flex-start;
  padding: 1rem;
  width: 50%;
}

.a-pokemon-title__image-mask {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  overflow: hidden;
  height: 2.5rem;
  width: 2.5rem;
}
.a-pokemon-title__image {
  max-height: 100%;
}

.a-pokemon-title__image--horizontal {
  max-height: unset;
  max-width: 100%;
}

.a-pokemon-title__name {
  flex: 1;
  overflow-x: auto;
  white-space: nowrap;
}
